apiVersion: apps/v1
kind: Deployment
metadata:
  name: colorvote-web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: colorvote
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: colorvote
    spec:
      containers:
      - name: web
        image: colorvote-web:latest
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "1"
            memory: "512Mi"
          requests:
            cpu: "0.5"
            memory: "256Mi"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - colorvote
              topologyKey: "kubernetes.io/hostname"